.header {
	width: 100%;
	background-color: #0F1C34;
	text-align: center;
	padding: 25px;
	background: #000 url(/img/stars.png) repeat top center;
  background-size: 150px;
  z-index: 0;
  font-family: 'PT Sans Narrow';
}

.header h1 {
	color: #FFE81F;
	margin: 0;
	z-index: 100;
	position: relative;
	font-size: 4em;
}

.header h3 {
	color: #FFFFFF;
	z-index: 100;
	position: relative;
}

.search-header {
	padding: 10px;
	margin-top: 15px;
}

.search-header a {
	padding: 7px;
	background-color: #C2C2C2;
	border-radius: 5px;
	color: #000000;
}

.search-header a:hover {
	cursor: pointer;
	color: #FFE81F;
}

.search-header input {
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  padding: 5px;
  outline: none;
}

.search-header input.left {
	float: left;
}

.search-header input.right {
	float: right;
}

.table-body {
	background-color: #FFFFFF;
	padding: 10px 0;
}

.table-body table th {
	padding: 10px;
	background-color: #27519A;	
	color: #FFFFFF;
	width: 10%;
}

.table-body table th a {
	color: #FFFFFF;	
	text-decoration: none;
}

.table-body table th a:hover {
	cursor: pointer;
	color: #FFE81F;
	text-decoration: none;
}

.table-body table th:first-child {
	border-radius: 5px 0 0 0;
}

.table-body table th:last-child {
	border-radius: 0 5px 0 0;
}

.table-body table tr td {
	padding: 10px;
}

.table-body table tr:nth-child(odd) {
	background-color: #EFEFEF;
}	

.page-navigation {
	padding: 10px;
	float: right;
}

.page-navigation .active {
	background-color: #EFEFEF;
	padding: 5px;
	color: #000000;
	border-radius: 50% 25%;
}

.page-navigation a {
	padding: 5px;
	color: #000000;
	text-decoration: none;
}

.page-navigation a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #FFE81F;
}


/** 
* Animation adapted from 
* https://codepen.io/WebSonick/pen/vjmgu
**/

.header .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height: 125px;
  display:block;
}

@keyframes move-twink-back {
  from {
  	background-position: 0 0;
	}
  to {
  	background-position: -10000px 5000px;
	}
}

@-webkit-keyframes move-twink-back {
  from {
  	background-position: 0 0;
	}
  to {
  	background-position: -10000px 5000px;
	}
}

@-moz-keyframes move-twink-back {
  from { 
  	background-position: 0 0;
  }
  to {
  	background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
  	background-position: 0 0;
  }
  to {
  	background-position: -10000px 5000px;
  }
}

.header .twinkling {
  background: transparent url(/img/twinkle.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}







