<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Planets</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700" rel="stylesheet">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body ng-app="planetsApp" ng-controller="planetsController">
    <div>
      <div class="header">
        <h1>PLANETS OF STAR WARS</h1>
        <h3>Find information about the planet you are looking for...</h3>
        <div class="twinkling"></div>
      </div>
      <div class="search-header">
        <div class="container">
          <input type="text" ng-model="planetInput" placeholder="Search..."/>
          <a ng-click="planetRequest(null, planetInput)"><i class="fa fa-search"></i></a>
          <a ng-click="planetRequest(1)">Clear</i></a>
        </div>
      </div>
      <div class="container">
        <div class="table-body">
          <table>
            <th>
              <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse"">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a href="#" ng-click="sortType = 'population'; sortReverse = !sortReverse"">
                Population
                <span ng-show="sortType == 'population' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'population' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
              <a href="#" ng-click="sortType = 'diameter'; sortReverse = !sortReverse"">
                Diameter
                <span ng-show="sortType == 'diameter' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'diameter' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
              <a href="#" ng-click="sortType = 'rotation_period'; sortReverse = !sortReverse"">
                Rotation Period
                <span ng-show="sortType == 'rotation_period' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'rotation_period' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>
              <a href="#" ng-click="sortType = 'orbital_period'; sortReverse = !sortReverse"">
                Orbital Period
                <span ng-show="sortType == 'orbital_period' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'orbital_period' && sortReverse" class="fa fa-caret-up"></span>
            </th>
            <th>Terrain</th>
            <th>Films</th>
            <tr ng-repeat="planet in planetList.results | filter: planetFilter ? planetFilter : all | orderBy:sortType:sortReverse">
              <td>{{planet.name}}</td>
              <td>{{planet.population}}</td>
              <td>{{planet.diameter}}</td>
              <td>{{planet.rotation_period}}</td>
              <td>{{planet.orbital_period}}</td>
              <td>{{planet.terrain}}</td>
              <td>
                <span ng-repeat="film in planet.filmList">{{film}}{{film.length > 1 && !$last ? ", " : ""}}</span>
              </td>
            </tr>
          </table>
          <div class="page-navigation">
            <a ng-show="currentPage !== 1" ng-click="planetRequest(1)"> First </a>
            <a ng-show="currentPage !== 1" ng-click="planetRequest(planetList.previous)">
              <span class="fa fa-caret-left"></span>
            </a>
            <span class="page" ng-class="currentPage === num ? 'active' : false" ng-repeat="num in pageList track by $index">
              <a ng-click="planetRequest(num)">{{num}}</a>
            </span>
            <a ng-show="currentPage !== pageList.length" ng-click="planetRequest(planetList.next)">
              <span class="fa fa-caret-right"></span>
            </a>
            <a ng-show="currentPage !== pageList.length" ng-click="planetRequest(pageList.length)"> Last </a>
          </div>
        </div>
      </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>    
    <script src="js/controllers.js"></script>    
    <script src="js/services.js"></script>    
  </body>
</html>
